<div class="container">
  <ng-container *ngFor="let item of quizzes">
    <ng-container *ngIf="item.questions.length">
      <h4 class="colorbr">{{ item.libelle }}</h4>
      <ul *ngFor="let question of item.questions">
        <h5>{{ question.libelle }}</h5>

        <li class="label" *ngFor="let reponse of question.reponses">
          <label
            nz-checkbox
            [ngModel]="reponse.checked == 0 ? 'true' : 'false'"
            (ngModelChange)="
              setQuiz(reponse.checked);
              reponse.checked = reponse.checked == 1 ? 'true' : 'false'
            "
            >{{ reponse.libelle }}</label
          >
        </li>
      </ul>
      <button class="submit-btn btn-block" [disabled]="true">
        Envoyer les réponses
      </button>
    </ng-container>
  </ng-container>
</div>
