<!-- <div class="container">
  <div class="bg-login">
    <nz-card style="width: 50%" nzTitle="Card title" [nzExtra]="extraTemplate">
      <nz-card-tab>
        <nz-tabset nzSize="large" [(nzSelectedIndex)]="index1">
          <nz-tab nzTitle="tab1"></nz-tab>
          <nz-tab nzTitle="tab2"> -->
<!-- <app-register></app-register> -->
<!-- </nz-tab>
        </nz-tabset>
      </nz-card-tab>
      content{{ index1 }}
    </nz-card>
    <ng-template #extraTemplate>
      <a>More</a>
    </ng-template>
    <br />
    <br />
  </div>
</div> -->
<!-- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut magni eveniet
ratione consectetur vel optio nisi nesciunt mollitia, rerum tenetur rem
doloribus? Eum in suscipit a quos eveniet. Optio, neque. -->
<router-outlet></router-outlet>
