.bg-login {
    background-image: url("/assets/img/loginbackgroud.jpg");
    height: 100%;
    position: fixed;
    width: 100%;
    overflow-y: auto;
}

[nz-form] {
    max-width: 600px;
}

.phone-select {
    width: 70px;
}

.register-are {
    margin-bottom: 8px;
}